.container{
        display: flex;
        flex-direction: column;
        align-items: center;
}

.innerContainer{
        display:flex;
        justify-content:space-evenly;
        background-color: #D9D9D9;
        width: 800px;
}

.containerOne, .containerTwo, .containerThree{
        display: flex;
        flex-direction: column;        
}

.dueDate{
        background-color: #FFFFFF;
        margin: 10px;
        padding-left: 5px;
        
}

.date{
        background-color: #FFFFFF;
        margin: 20px;
        padding-left: 7px;
}

.items{
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
        margin: 10px;    
}

.item{
        background-color: #FFFFFF;
        margin: 20px;
        padding-left: 7px;
}

.amount{
        background-color: #FFFFFF;
        margin: 10px;
        padding-left: 5px;

}

.price{
        background-color: #FFFFFF;
        margin: 20px;
        padding-left: 7px;
}

.buttons{
        display:flex;
        justify-content: space-evenly;
        margin-top: 30px;
        width: 250px;
}

#add{
        background-color: green;
}

#modify{
        background-color:yellow;
}

#delete{
        background-color:red ;
}

